@import "ui-variables";

* {
  box-sizing: border-box;
}

atom-workspace {
  background-color: @app-background-color;
}

status-bar {
  background-color: @app-background-color;
}

.settings-view.pane-item {
  .package-detail {
    .breadcrumb li a { color: white; }
  }
  .section {
    border: none;
  }
  .section.packages .package-container .row .package-update-view .thumbnail {
    background: @editor-background-color;
    color: @text-color;
    border: none;
    .caption {
      h4 { color: white; }
    }
    * { color: @text-color;}
    .btn-toolbar .btn { background: white }
  }
  background-color: @tree-background-color !important;
  .section-heading, .sub-section-heading, .text {
    color: @text-color !important;
  }
  .package-card {
    &:hover { background: @editor-background-color; }
    background: @editor-background-color;
    border: none;
    color: @text-color;
    .body h4 a { color: white; }
    .meta .meta-controls {
      .btn-toolbar { background: white }
    }
  }
  .config-menu {
    background-color: @tree-background-color !important;
    border: none;
    li .icon {
      color: @text-color-subtle;
      &:hover {
        background: @tree-selected-item-background-color !important;
        color: white !important;
      }
    }
    li.active {
      .icon {
        background: @tree-selected-item-background-color !important;
        color: white;
      }
    }
    .button-area {
      .btn-default {
        color: white;
        &:hover {
          background: @tree-selected-item-background-color;
        }
      }
    }
  }
}
